/**
* @package  Library Management
*/
/**********************************************************************
                        START For Registation Page
*********************************************************************/
body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

div.atlm-form-container {
    background-image: url(img/bg-book-1.jpg);
    background-size: cover;
    padding: 50px 0;
}

form.afc__form {
    width: 45%;
    margin: auto;
}

form.afc__form-title {
    font-size: 40px;
    color: black;
}

div.afc__input-full-width {
    margin-bottom: 20px;
    overflow: hidden;
    width: 98%;
}

div.afc__input-half-width {
    width: 48%;
    float: left;
    margin: 12px 0;
    margin-right: 2%;
}

label.afc__radio-label {
    float: left;
    margin-right: 10%;
}

div.afc__radio-opt-group {
    float: left;
    margin-right: 25px;
}

label.afc__radio-opt-label {
    float: left;
    margin-right: 12px;
}

.afc__radio-opt{}

.afc__student-area{
    /*display: none;*/
}

.afc__other-area{
    /*display: none;*/
}

button.afc__image-btn-area{
    width: 35%;
    float: left;
}

button.afc__button {
    font-size: 18px;
    padding: 12px;
    border-radius: 3px;
}

.afc__image-container{}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: gray;
    opacity: 1; /* Firefox */
}

textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: gray;
    opacity: 1; /* Firefox */
}
/**********************************************************************
                        END For Registation Page
***********************************************************************/


/**********************************************************************
                      START For Display All Book Page
***********************************************************************/
h2.atlm-title {
    text-align: center;
    font-size: 45px;
}

/*************    Search bar container   *****************/

div.atlm-search-container {
    margin-bottom: 50px;
    overflow: hidden;
}

div.asc__filter-area {
    width: 25%;
    float: left;
}

div.asc__filter-area select {
    width: 100%;
    padding: 10px;
    color: gray;
    border-radius: 3px 0 0 3px;
}

div.asc__input-area {
    width: 60%;
    float: left;
}

div.asc__by-writer input{
    float: left;
    border-radius: 0;
    width: 25%;
}

div.asc__by-word input{
    float: left;
    border-radius: 0;
    width: 40%;
}

div.asc__btn-area {
    width: 10%;
    overflow: hidden;
    float: right;
}

div.asc__btn-area button {
    width: 100%;
    border-radius: 0 3px 3px 0;
    padding: 12px;
}


/*************    All books container   *****************/

div.atlm-display-container {
    border: 1px solid #EEEEEE;
    text-align: center;
    box-shadow: 0px 0px 20px darkgrey;
    padding-top: 15px;
}

div.adc__book {
    width: 22%;
    margin: auto;
    display: inline-block;
    margin: 10px;
    overflow: hidden;
    max-height: 310px;
}

div.adc__book-image img{
    width: 115px;
    height: 160px;
}

div.adc__book-details h4 {
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 16px;
}

div.adc__book-details h5 {
    padding: 0;
    margin: 10px;
    font-size: 11px;
    text-transform: capitalize;
}


/*************    Pagination container   *****************/

div.atlm-pagination-container{
    width: 35%;
    margin: auto;
    margin-top: 40px;
}
/**********************************************************************
                      END For Display All Book Page
***********************************************************************/


